/*
*,
*::before,
::after {
    box-sizing: border-box;
}*/

body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    /*padding-left: 15px;
    padding-right: 15px;*/
    margin-left: auto;
    margin-right: auto;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    /*padding-top: 24px;
    padding-bottom: 23px;       
    height: 72px;*/
}

.page-header .container,
.nav-menu,
.page-nav-list,
.address-menu {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
    align-items: center;
}

.page-header .container {
    justify-content: space-between;
}

.nav-menu {
    color: #2e2f42;
    flex-basis: 452px;
}
.page-nav-list {
    flex-basis: 261px;
    gap: 40px;
}

.page-nav-list .link {
    display: block;
    padding: 24px 0;
}

.address-menu,
.contacts-list {
    flex-basis: 344px;
}

.contacts-list {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    align-items: center;
}

.logo-style {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #4d5ae5;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo-color-studio-header {
    color: #2e2f42;
}

.logo-color-studio-footer {
    color: #f4f4fd;
}

.page-nav-list .link {
    font-weight: 500;
    color: #2e2f42;
}

.page-nav-list .link:hover,
.page-nav-list .link:focus {
    color: #404bbf;
}

.page-nav-list .link:active {
    color: #404bbf;
    text-decoration: underline;
}

.contacts-list .link {
    font-style: normal;
    color: currentColor;
}

.contacts-list .link:hover,
.contacts-list .link:focus {
    color: #404BBF;
}

.section {
    padding: 120px 0;
}

.section.hero {
    background-color: #2e2f42;
    padding: 188px 0;
}

.page-title,
.section.hero .order-btn {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.page-title {
    display: block;
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 48px;
}

.section.hero .order-btn {
    display: block;
    cursor: pointer;
    font-family: inherit;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    text-align: center;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
}

.section.hero .order-btn:hover,
.section.hero .order-btn:focus {
    background-color: #404bbf;
}

.header-two {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.header-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.section-text-in-p {
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list,
.team-card-list,
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 1128px;
    align-items: center;
    /*align-content: space-between;
    justify-content: space-between;*/
}

.features-list,
.team-card-list {
    gap: 24px;
}

.features-list .item,
.team-card-list .item {
    flex-basis: calc((100% - 24px * 3) / 4);
}

.section.team {
    background-color: #f4f4fd;
}

.team-card-list .item {
    background-color: #fff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
    /*width: 264px;
    height: 380px;*/
    overflow: hidden;
}

.team-card-text {
    text-align: center;
    padding: 32px 0px;
}

.portfolio-list {
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-list .item {
    flex-basis: calc((100% - 24px * 2) / 3);
    background-color: #fff;
    overflow: hidden;
}

.portfolio-text {
    /*width: 360px;*/
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}

.page-footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.container.footer .logo-style {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text {
    color: #f4f4fd;
    max-width: 264px;
}